html{
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(211, 211, 211, 0.5);
  box-shadow:20px 0px 50px grey, -20px 0px 50px grey;
}

/* If the screen is below 720 pixels wide, then fill in the margins */
@media only screen and (max-width: 720px){
  html{
      margin: 0%;
  }
}

#navbar-Nav{
  display: flex;
  justify-content: flex-end;
}
