html{
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(211, 211, 211, 0.5);
  box-shadow:20px 0px 50px grey, -20px 0px 50px grey;
}
#root{
  background-color: black;
}

#CardImage{
  width: 25%;
}
#CardBody{
  width: 50%;
}
#CardDate{
  width: 25%;
}

/* If the screen is below 720 pixels wide, then fill in the margins */
/* Will also cute the dates off the cards if the screen size is too small */
@media only screen and (max-width: 720px){
  html{
      margin: 0%;
  }
  #CardImage{
    width: 40%;
  }
  #CardBody{
    width: 60%;
  }
  #CardDate{
    display: none;
  }
}

#navbar-Nav{
  display: flex;
  justify-content: flex-end;
}
